## Logging & Verbosity Control

Control logging output with environment variables:

```bash
export {{ package_name | upper }}_LOG_LEVEL=DEBUG
```

Or programmatically:

```python
import logging
logging.getLogger('{{ package_name }}').setLevel(logging.DEBUG)
```
